body, html, head {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
}

.home-page-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.website-header-text {
  font-size: 32px;
  text-align: center;
}

.home-page-subheader {
  text-align: center;
}

.home-page-text {
  text-align: center;
  font-size: 24px;
}

.header {
  text-align: center;
  background-color: turquoise;
  padding: 24px;
}

.header-links {
  color: inherit;
  text-decoration: none;
  padding: 16px;
  border-radius: 8px;
  margin: 0 8px;
}

.header-links:hover {
  background-color: rgb(64, 175, 164);
  border-bottom: 4px solid white;
}